html{
	font-family: Open Sans;
}
body{
	background-image: url(tt.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: black;

}

.units{
	display: flex;
}
.unit{
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	margin:10px;
	color: #fff;
}