html{
	font-family: Open Sans;
}

body{
	background-image: url(map.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: black;

}
.game{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.units{
	display: flex;
}
.unit{
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	margin:10px;
	margin-top: 0px;
	color: #fff;
	background-image: url(static/img/map.png);
	background-size: cover;
	color: rgb(255, 255, 255);

}
.hero{
	display: flex;

}
.luchnik{

	margin-left: 30px;

}
.chat{
	position: relative;
	background-color: rgba(0,0,0,0.5);
	
	width: 15%;
	height: 80vh;
	background-size: cover;
	color: rgb(255, 255, 255);
}
.ch{
	width: 100%;
}
#input{
position: absolute;
bottom: 0;
width: 96%;
left: 0;
height: 5vh;
}
.word{
	width: 100%;
	display: inline-block;
	white-space: normal;
	transform: translate(0,30px);
}
.cha{
	position: absolute;
	transform: translate(0,-25px);
}
#sprite{
	width: 18vh;
	height: 18vh;
	
}
.interface{
	position: absolute;	
	bottom: 0;
	left: 50vh;
}
.moves_btn{
	
	width: 20vh;
	height: 20vh;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
}
.icon{
	width: 100%;
	height: 100%;
	/* image-rendering: pixelated; */
	
}

.self_unit{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	margin:10px;
	padding: 10px;
	bottom: 0;
}

.box{
	transform: translate(-25vh,-20vh);
	width: 10vh;
	height: 10vh;
	background-image: url(box.png);
}